</div>
<!-- <script src="bower_components/jquery/dist/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(77,184,255, 0.8);
    color: white;
    text-align: center;
}
</style>
<div class="footer">
        <p>&#169;2018 - ForEver</p>
      </div>

</html>